<div class="home-section">
<div class="bio-section">
    <h1>Hello, I'm K. Raja Abishek Full stack Developer in Centizen.Inc</h1>
    <p>Welcome to my portfolio website!</p>
    <p>Here, you can find information about my projects, skills, and experience.</p>
    <p>Feel free to explore and get in touch!</p>
    <p>A passionate Full-Stack Web Developer specializing in building high-performance, scalable, and user-friendly web applications. Proficient in the MERN stack, I thrive on solving complex problems and continuously learning new technologies. Let's create something amazing together!</p>
</div>
<img class="profile-img" src="profile.jpg" alt="raja-profile">
</div>