
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-theme{
  --background-color: #f5f5f5;
  --text-color: #212121;
  --hl-background-color: lightsalmon;
  --mat-switch-label-text-color: #212121;
}

.dark-theme{
  --background-color: #303030;
  --hl-background-color: lightsalmon;
  --text-color: #ffffff;
  --mat-switch-label-text-color: #ffffff;
}

.section{
  background-color: var(--background-color);
  color: var(--text-color);
}